<%= form_for(@play) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Have fun...", rows: "10" %>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
