<% provide(:title, "All users") %>

<h1>All users</h1>
<%= paginate @users, window:2 %>
<ul class="users">
  <% @users.each do |geek| %>
  <li>
    <%= gravatar_for geek %>
    <%= link_to geek.name, geek %>
    <% if current_user.admin? && !current_user?(geek) %>
        | <%= link_to "delete", geek, method: :delete,
                      data: { confirm: "You sure?" } %>
    <% end %>
  </li>
  <% end %>
</ul>
